body{
    margin:0px;
    text-align: center;
    background-color:whitesmoke;
}

.facebook{
    color: blue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    
}
#below-fb{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: 100;
    margin:0;
    padding-bottom: 30px;
    position: static;
}

.login-interface{
    width:390px;
    margin:auto;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.247);
    text-align: center;
   
    border-radius: 5px;
    padding:15px; 
    outline: none;
    

}
input{
    display: block;
    width: 85%;
    padding:15px;
    margin:10px;
    border-radius: 5px;
    box-shadow: none;
    outline: none;
    border:1px solid rgba(0,0,0,0.1);
}
#login-button{
    width:95%;
    padding:15px;
    background-color: blue;
    border-radius: 5px;
    color: white;
    font-family: Arial;
    font-weight: 700;
    outline: none;
    border: 1px solid rgba(0,0,0,0.1);
    font-size: 15px;
}

#forgot{
    padding-top: 10px;
    text-decoration: none;
    margin:10px;
    display:block;
    font-family: Arial;
    font-size: 15px;
    padding-bottom:10px;
}
#forgot:hover{
    text-decoration: underline;

}

hr{
    box-shadow:0 0 20px 1px rgba(0, 0, 0, 0.1);
}
#create-new-acc{
    text-align: center;
    background-color: rgb(125, 165, 46);
    border:1px solid rgba(0,0,0,0.1);
    padding: 10px;
    width: 50%;
    margin: 10px;
    border-radius: 5px;
    color: white;
    
}